#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=picpic
Exec=/usr/bin/picpic
Icon=/usr/share/picpic/picpic.png
Categories=Photography;Qt;
